<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title><%= locals.title %></title>
    <script type="text/javascript" src="/js/bundle.js" defer></script>
    <% for (let sheet of locals.css) { %>
      <link rel="stylesheet" type="text/css" href="/css/<%= sheet %>">
    <% } %>
  </head>
  <body>
    <canvas id="display" width="1" height="1" />
  </body>
</html>
