<!DOCTYPE html>
<html>
  <head>
    <title><%= locals.title %></title>
    <script type="text/javascript" src="public/js/bundle.js" defer></script>
    <script type="text/javascript">
      let sortType = '<%- locals.sortType %>';
    </script>
    <% for (let sheet of locals.css) { %>
      <link rel="stylesheet" type="text/css" href="public/css/<%= sheet %>">
    <% } %>
  </head>
  <body>
    <div class="wrapper">
      <canvas id="display" />
    </div>
  </body>
</html>
